<!-- client_manager/templates/client_manager/client_list.html -->
{% extends 'client_manager/base.html' %}

{% block content %}
<h1>Clients</h1>
<a href="{% url 'client_create' %}" class="btn btn-primary">Add Client</a>
<a href="{% url 'download_10pm_files' %}" class="btn btn-success">Trigger 10PM Task</a>
<a href="{% url 'downloaded_files' %}" class="btn btn-info">View Downloaded Files</a>
<div class="table-container">
<table class="table mt-3 client-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>SFTP Host</th>
            <th>Active</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for client in clients %}
        <tr>
            <td>{{ client.name }}</td>
            <td>{{ client.sftp_host }}</td>
            <td>{{ client.is_active|yesno:"Yes,No" }}</td>
            <td>
                <a href="{% url 'file_config_list' client_id=client.id %}" class="btn btn-sm btn-info">File Configs</a>
                <a href="{% url 'client_update' pk=client.id %}" class="btn btn-sm btn-warning">Edit</a>
                <a href="{% url 'client_delete' pk=client.id %}" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No clients found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}