<!-- client_manager/templates/client_manager/output_config_form.html -->
{% extends 'client_manager/base.html' %}

{% block content %}
    <h2>{{ title }} for {{ client.name }}</h2>
    <div class="form-container">
        <form method="POST" class="client-form">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-actions">
                <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Save</button>
                <a href="{% url 'client_details' client.id %}" class="btn btn-secondary"><i class="fas fa-times"></i> Cancel</a>
            </div>
        </form>
    </div>
{% endblock %}